* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: linear-gradient(#81ddc1, #01252a);
}

h1 {
  font-size: 5rem;
  color: #045b66;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #9a1f40;
}
.w {
  background-image: url(images/tom1.png);
}
.a {
  background-image: url(images/tom2.png);
}
.s {
  background-image: url(images/tom1.png);
}
.d {
  background-image: url(images/tom2.png);
}
.j {
  background-image: url(images/tom2.png);
}
.k {
  background-image: url(images/tom1.png);
}
.l {
  background-image: url(images/tom2.png);
}
.m {
  background-image: url(images/tom1.png);
}
footer {
  color: #dbedf3;
  font-family: sans-serif;
  padding-bottom: 3px;
  font-family: "Cormorant Garamond", serif;
}

span {
  color: red;
}

.setone,
.settwo {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px;
  justify-content: space-evenly;
  padding: 49px 200px;
}

.drum {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 15px;
  border: none;
  outline-style: none;
  font-size: 3rem;
  color: #dd7631;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

.drum:hover {
  box-shadow: 0 0 10px 1px #000;
}

.drum:active {
  transform: scale(0.95);
  transition-duration: 300ms;
}
/* media queries */

@media screen and (max-width: 420px) {
  h1 {
    font-size: 3rem;
    padding: 20px 0 50px;
  }
  .setone,
  .settwo {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px;
    justify-content: space-evenly;
    padding: 30px 5% 100px;
  }
  .drum {
    width: 70px;
    height: 70px;
    border-radius: 2px;
    font-size: 10%;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 3px;
    font-size: 50%;
  }
}
