* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(95, 138, 155);
}

h1 {
  font-size: 5rem;
  color: #045b66;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #9a1f40;
}
.w {
  background-image: url(images/tom1.png);
}
.a {
  background-image: url(images/tom2.png);
}
.s {
  background-image: url(images/tom3.png);
}
.d {
  background-image: url(images/tom4.png);
}
.j {
  background-image: url(images/kick.png);
}
.k {
  background-image: url(images/crash.png);
}
.l {
  background-image: url(images/snare.png);
}
.m {
  background-image: url(images/kick.png);
}
footer {
  color: #dbedf3;
  font-family: sans-serif;
  padding-bottom: 3px;
  font-family: "Cormorant Garamond", serif;
}

span {
  color: red;
}

.setone {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px;
  justify-content: space-evenly;
  margin: 50px 0 85px;
  grid-row-gap: 60px;
  padding: 0 180px;
}

.drum {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: 15px;
  border: none;
  outline-style: none;
  font-size: 3rem;
  color: #dd7631;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  box-shadow: 0 0 10px 1px #000;
  background-color: #fff;
}

.drum:active {
  transform: scale(0.95);
  transition-duration: 300ms;
}
/* media queries */

@media screen and (max-width: 576px) and (orientation: portrait) {
  h1 {
    font-size: 2.5rem;
    padding: 20px 0 50px;
  }
  .setone {
    display: grid;
    grid-template-columns: 85px 85px;
    grid-template-rows: 85px 85px 85px 85px;
    justify-content: space-evenly;
    margin: 0 0 25px;
    grid-row-gap: 20px;
    padding: 0 5%;
  }
  .drum {
    width: 85px;
    height: 85px;
    border-radius: 8px;
    font-size: 10%;
    font-size: 2rem;
  }
  footer {
    padding-top: 65px;
    padding-bottom: 3px;
    font-size: 50%;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .setone {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px;
    justify-content: space-evenly;
    margin: 50px 0 80px;
    grid-row-gap: 60px;
    padding: 0 0px;
  }
  .drum {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    font-size: 2.5rem;
  }
  footer {
    padding-top: 65px;
  }
}
